@import './themes';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.1s all ease-in-out;
  color: var(--text);
}

body {
  font-family: Roboto, Arial, sans-serif;
  background-color: var(--background);
}

body.light {
  @include theme($light);
}

body.dark {
  @include theme($dark);
}
